require "krash"

require "krash/notifiers/codebase"
require "krash/notifiers/sms"

Krash.configure do

  set :access_key, "rt8sqwvu7b44rtx3xwqxxnvqxxn"
  use Krash::Notifiers::Codebase do 
  
    priority_id 20658
    status_id 28658
    user "user"
    api_key "key"
    
  end
  
  #use Krash::Notifiers::Sms do 
  #  
  #  user "user"
  #  password "password"
  #  api_key "api_key"
  #  only /.*/
  #  number "+4917622747893"
  #  
  #end

end

run Krash::App