require "lib/krash"

require "krash/notifiers/codebase"
require "krash/notifiers/sms"

Krash.configure do

  set :access_key, "rt8sqwvu7b44rtx3xwqxxnvqxxn"
  set :memcached_server, "localhost:11211"
  
  use Krash::Notifiers::Codebase::Base do 
  
    priority_id 20658
    status_id 28658
    user "user"
    api_key "key"
    
  end
  
  #use Krash::Notifiers::Sms do 
  #  
  #  user "user"
  #  password "password"
  #  api_key "api_key"
  #  only /.*/
  #  numbers "+4917622747893", "+49...."
  #  
  #end
  
  #use Krash::Notifiers::Iphone do 
  #  
  #  api_keys "xxxxx", "xxxx"
  #  only /.*/
  #  
  #end
  

end

# wann see Rack::ShowExceptions? 
# use Rack::ShowExceptions
run Krash::App